.footer {
    width: 100%;
    height: 350px;
    background-color: var(--theme-color-5);
    display: flex;
    justify-content: center;
}

.footer-container {
    width: var(--zone);
}

.footer-row {
    display: flex;
    flex-direction: row;
}

.footer-column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex: 1;
    padding: 20px;
}

.footer-column ul {
    flex-direction: column;
}

.footer-image img {
    width: 100%;
    height: auto;
}

.footer h2 {
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer li {
    margin-bottom: 10px;
}

/* Mobile optimization */
@media (max-width: 768px) {
    .footer-image {
        display: none;
    }

    .footer h2 {
        font-size: 35px;
        line-height: 1.5;
    }

    .footer-row {
        flex-direction: column;
    }
}